.studyManagementButtonsDiv {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  padding-bottom: 15px;
  padding-top: 5px;
  padding-left: 5px;
}

.studyManagementButtonUpload {
  color: black;
  padding: 10px;
  background-color: lightgoldenrodyellow;
  border: 'sold 10px grey';
  border-radius: 4px;
  font-size: 18px;
  height: auto;
  width: 180px;
  text-align: center;
}

.uploadStudyTD {
  padding-right: 14px;
}

.filesLayout {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: black;
  color: white;
}

.studyManagementTableDiv {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.studyManagmentTable thead tr:nth-child(1) th {
  position: sticky;
  border-collapse: separate;
  top: 0;
  z-index: 1;
}

.loadingStudyPatientlabel {
  text-align: center;
  font-size: 22px;
  color: white;
}

.linearProgress {
  color: '#e8eaf6';
  background: '#03a9f4';
}

.selectDicomFileUploadLabel {
  font-size: 16px;
  padding-bottom: 10px;
}

.selectDicomFileForm {
  background: #1f1f1f;
}

.histroyRowSelected {
  color: #f28227;
}

.noHistoryRowSelected {
  color: white;
}

.uploadFileDiv {
  overflow: scroll;
  width: 100%;
  height: 24em;
}

.uploadFileTable thead tr:nth-child(1) th {
  position: sticky;
  border-collapse: separate;
  top: 0;
  z-index: 1;
}

.uploadingFileProcessLabel {
  color: #f28227;
}

.studyContentTableDiv {
  overflow: auto;
  height: 32em;
}

.studyContentTable thead tr:nth-child(1) th {
  position: sticky;
  border-collapse: separate;
  top: 0;
  z-index: 1;
}

.react-confirm-alert-body h1 {
  color: black;
}

.actionDeleteStudyTD {
  padding: 1px;
  border: solid 1px grey;
  font-size: 14px;
  text-align: center;
  color: red;
}
