<table>
  <tr>
    <td>Contours only</td>
    <td>
      <input title="Toggle between labelmap volume with regions outlined or filled"
             className='isFilterOn' type="checkbox" checked />
    </td>
  </tr>
  <tr>
    <td>Slice</td>
    <td>
      <input title="Change slice" className='sliceK' type="range" min="0" max="100" step="1" value="1" />
    </td>
  </tr>
  <tr>
    <td>Slice Axis</td>
    <td>
      <select className="axis" title="Change slicing mode">
        <option name="I">I</option>
        <option name="J">J</option>
        <option name="K" selected>K</option>
      </select>
    </td>
  </tr>
</table>
