.segOralCavityDropdownToggle,
.segParotidLeftDropdownToggle,
.segParotidRightDropdownToggle,
.segPharConsInfDropdownToggle,
.segPharConsMedDropdownToggle,
.segPharConsSupDropdownToggle,
.segSubmandibularLeftDropdownToggle,
.segSubmandibularRightDropdownToggle {
  color: #1f1f1f;
  width: 18em;
  margin-left: 10px;
  min-height: 24px;
  height: auto;
}

.segOralCavityDropdownItemDiv > a,
.segParotidLeftDropdownItemDiv > a,
.segParotidRightDropdownItemDiv > a,
.segPharConsInfDropdownItemDiv > a,
.segPharConsMedDropdownItemDiv > a,
.segPharConsSupDropdownItemDiv > a,
.segSubmandibularLeftDropdownItemDiv > a,
.segSubmandibularRightDropdownItemDiv > a,
.ntcpLippBaselineDropdownItemDiv > a,
.ntcpLippLocationDropdownItemDiv > a {
  color: white;
  width: 14em;
  background-color: #1f1f1f;
}

.segOralCavityDropdownItemDiv,
.segParotidLeftDropdownItemDiv,
.segParotidRightDropdownItemDiv,
.segPharConsInfDropdownItemDiv,
.segPharConsMedDropdownItemDiv,
.segPharConsSupDropdownItemDiv,
.segSubmandibularLeftDropdownItemDiv,
.segSubmandibularRightDropdownItemDiv,
.ntcpLippBaselineDropdownItemDiv,
.ntcpLippBaselineDropdownItemDiv {
  height: 350px;
  display: inline-grid;
  overflow: auto;
  background-color: black;
}

.contourParamterLabel,
.ntcpLippParamterLabel {
  margin-bottom: 4px;
  color: burlywood;
}

/* .ntcpLippBaselineScoreDropdownToggle, */
/* .ntcpLippLocationDropdownToggle {
  color: #1f1f1f;
  width: 14em;
  margin-left: 37px;
  min-height: 24px;
  height: auto;
} */

.ntcpLippBaselineDropdownItemDiv,
.ntcpLippLocationDropdownItemDiv {
  display: inline-grid;
  overflow: auto;
  background-color: #1f1f1f;
  height: auto;
  min-height: 12px;
  margin-bottom: 4px;
}
