.imagePreviews {
  /*  background-color: var(--ui-gray-darker);*/
  /* color: var(--text-primary-color);
  padding: 6px 0px 0px 0px;
  border: none;
  height: calc(100% - 6px);
  width: 0px;
  font-size: 14px; */
  display: none;
}

.scrollPreviews {
  overflow: auto;
  white-space: nowrap;
  cursor: pointer;
}

.scrollItem {
  background-color: var(--ui-gray-darker);
  height: inherit;
  width: inherit;
  border: none;
  display: inline-block;
}

.scrollItem.active {
  display: none;
  border: 1px solid var(--tab-text-color-active);
}

.scrollItem.active_secondary {
  display: inline-block;
  border: 1px solid var(--tab-text-color-active);
  border-style: dotted;
}

.seriesTableList {
  width: 100%;
  height: 100%;
  color: var(--default-color);
  font-size: 14px;
}

.seriesTable {
  background-color: var(--ui-gray-darker);
  color: var(--text-primary-color);
  padding: 0px 12px;
  border: none;
  display: inline-block;
}

.seriesTable td.label {
  color: var(--table-text-color-label);
}

.rowToolbar {
  display: block;
  height: 10%;
  width: 100%;
}

.row {
  display: block;
  height: 50%;
  width: 100%;
}

.dose-View3 {
  display: inline-flex;
  /* justify-content: flex-start;
  /* flex-direction: row;  */
  white-space: nowrap;
  height: 100%;
  width: 100%;
}

.dose-col-imagePreview {
  display: inline-block;
  justify-content: flex-start;
  flex-direction: column;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  padding: 4px 4px;
}

.dose-col-data {
  display: inline-block;
  justify-content: flex-start;
  flex-direction: column;
  white-space: nowrap;
  height: 100%;
  width: 50%;
  padding: 4px 4px;
}

.dose-row-sm-1 {
  height: 73%;
  width: 100%;
  float: top;
}

.dose-row-sm-2 {
  height: 100%;
  width: 50%;
}

.dose-row-sm-2-col {
  width: 99%;
  height: 40vh;
  display: inline-flex;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 17px;
  margin-top: 10px;
}

.doseViewTitle {
  margin-left: 10px;
  color: #f28227;
  background-color: #1a1a1a;
  border: 4px;
  border-radius: 4%;
}

.dose-plan {
  height: 100%;
  width: calc(50% - 100px);
  padding-top: 1.5em;
  padding-bottom: 4px;
}

.col-sm-4 {
  float: left;
  height: 50%;
  width: 50%;
}

.box3d {
  display: block;
  height: 100%;
  width: 100%;
}

.PlanEvaluationVTK {
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.PlanEvaluationVTKMain {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /*calc(100% - 60px);*/
  padding: 0 0 0 0;
  position: relative;
}

.dosePanel {
  width: 200px;
  height: 100%;
  display: inline-table;
  position: relative;
}

.segTableTBodyPlanEvaluation {
  overflow: auto;
  display: inline-block;
  width: 210px;
  height: 63vh;
  position: relative;
}

.SegPanelContent {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
}

.ImageViewsPlanEvaluation {
  width: calc(50% - 100px);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  white-space: nowrap;
  position: relative;
}

.ImagePreviewsBottom {
  width: 100%;
  height: calc(25px - 12px);
  float: bottom;
  position: relative;
  padding: 6px 0 6px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.ImagePreviewsBottom.extended {
  width: 100%;
  height: calc(200px - 12px);
  float: bottom;
  position: relative;
  padding: 6px 0 6px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
}

.ImageView {
  display: block;
  width: 100%;
  height: calc(100% - 200px);
  float: top;
  position: relative;
}

.ImageView.extended {
  display: block;
  width: 100%;
  height: calc(100% - 25px);
  float: top;
  position: relative;
}

.previewsList {
  width: calc(100% - 60px);
  height: 100%;
  display: inline-block;
  position: relative;
}

.previewsIcon {
  width: calc(60px - 10px);
  height: calc(100% - 10px);
  display: inline;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
}

.dosePanelContent {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
}

.doseVisibility {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.doseTableDiv {
  height: max-content;
}

.doseToolsTab {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  white-space: nowrap;
}

.toolsTab button {
  background-color: var(--primary-background-color);
  color: var(--text-primary-color);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px 3px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.toolsTab button:hover {
  background-color: var(--ui-gray-darker);
  color: var(--text-primary-color);
}

/* Create an active/current tablink class */
.toolsTab button.active {
  background-color: var(--ui-gray-darkest);
  color: var(--tab-text-color-active);
}

.doseToolsTabContent {
  width: 90%;
  height: 100%;
}

.drawTools {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  white-space: nowrap;
}

.drawTools td {
  cursor: pointer;
}

.medIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.smallIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.dose-smallIcon {
  margin-left: 5px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.doseTool {
  color: var(--default-color);
}

.doseTool.active {
  color: var(--tab-text-color-active);
}

.doseTool.disabled {
  color: var(--tab-text-color-disabled);
}

.viewIJK3D {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  justify-content: flex-start;
}

.viewTab {
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  white-space: nowrap;
}

.viewTab button {
  height: 100%;
  background-color: var(--primary-background-color);
  color: var(--text-primary-color);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 3px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.viewTab button:hover {
  background-color: var(--ui-gray-darker);
  color: var(--text-primary-color);
}

/* Create an active/current tablink class */
.viewTab button.active {
  background-color: var(--ui-gray-darkest);
  color: var(--tab-text-color-active);
}

/* Style the tab content */
.viewTabContent {
  width: 100%;
  height: calc(100% - 25px);
  background-color: var(--primary-background-color);
  color: var(--default-color);
  border: 1px solid #ccc;
}

.ProgressBar {
  display: block;
  height: 40px;
  width: calc(100% - 40px);
  background-color: var(--primary-background-color);
  color: var(--text-primary-color);
}

.Progress {
  background-color: var(--default-color);
  color: var(--text-primary-color);
}

.segment {
  background-color: var(--primary-background-color);
  border: none;
  font-size: 16px;
}

.dose {
  background-color: var(--primary-background-color);
  border: none;
  font-size: 17px;
}

.segment.active {
  background-color: var(--ui-gray-darker);
  color: var(--tab-text-color-active);
}

.slidecontainer {
  width: 150px;
  /* Width of the outside container */
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  white-space: nowrap;
}

/* The slider itself */
.slider {
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 100%;
  /* Specified height */
  background: var(--primary-background-color);
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

.formInput {
  width: 320px;
}

.doseToolTable {
  padding-left: 90%;
}

.selectSEG {
  height: auto;
  width: 210px;
  background-color: #4881e2;
  text-align: left;
  color: white;
  text-anchor: start;
  font-size: 14px;
  border-color: blue;
}

.showHidenAllText {
  position: absolute;
  left: 30px;
  font-size: 14px;
}

/* --------- */
.dosePlanTableDiv {
  width: 50%;
  display: inline-block;
  background-color: blue;
}

.tabcontent {
  background-color: var(--primary-background-color);
  color: #1a1a1a;
  padding: 4px 0px 4px 0;
  border: none;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: medium;
  border-top: none;
  width: 100%;
  height: calc(100% - 50px - 15px);
}

label {
  display: inline-block;
  text-align: left;
  font-size: 17px;
  width: 250px;
  height: 44px;
  border-radius: 3px;
  background-color: transparent;
  color: white;
  white-space: normal;
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked + label {
  background-color: yellow;
  border-radius: 3px;
  color: black;
  display: inline-block;
}

.ant-modal-close-x {
  display: block;
  width: 56px;
  height: 56px;
  font-size: 16px;
  font-style: normal;
  line-height: 56px;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  color: white;
}

.ant-select-single .ant-select-selector {
  color: white;
  background-color: black;
}

ant-modal-body {
  padding: 24px;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
  background-color: #313131;
  color: white;
}

.ant-modal-footer {
  padding: 10px 16px;
  text-align: right;
  background: transparent;
  background-color: transparent;
  border-top: 1px solid #f0f0f0;
  border-radius: 0 0 2px 2px;
  background-color: #313131;
}

.dvhScalingDiv,
.cgLoadFileDiv,
.nctpConfigDiv {
  background-color: #1a1a1a;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 22px;
}

.leftDiv {
  float: left;
  padding-left: 10px;
}

.rightDiv {
  float: right;
  padding-left: 10px;
}

.leftUl,
.rightUl {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.leftLi,
.rightLi {
  text-decoration: none;
  height: 30px;
  display: block;
}

.dvhSettingButtonDiv,
.cgLoadingButtonDiv,
.ntcpSetConfigButtonDiv {
  height: 21px;
}

.dvhScalingLabel,
.cgLoadingFileLabel,
.dvhLegendLabel,
.selectClinicalGoalLabel,
.ntcpSelectedModelLabel {
  margin-left: 10px;
  margin-right: 5px;
  color: #f28227;
  background-color: #1a1a1a;
  text-align: left;
  font-size: 15px;
  font-style: normal;
  width: auto;
  height: auto;
}

.dvhLegendLabelDash {
  margin-left: 10px;
  color: #f28227;
  background-color: #1a1a1a;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  width: auto;
  height: auto;
}

.dvhLegendLabelSolide {
  display: inline-flex;
  width: 100px;
  height: 0px;
  background-color: #1a1a1a;
  margin-right: 30px;
}

.myLine {
  width: 5px;
  height: auto;
  /* border-bottom: 1px solid white; */
  position: absolute;
  color: #f28227;
}

.dvhPlotDiv {
  max-height: calc(100% - 20px);
  height: 100%;
}

.dosePlan {
  height: 50%;
}

.dosePlanValDiv {
  border-style: outset;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: inherit;
  margin-top: 4px;
}

.dosePlanValDivTop {
  background-color: black;
  /* width: 100%; */
  height: 50%;
}

.dosePlanValDivBottom {
  background-color: black;
  height: 50%;
}

/* =========== React tabs ============ */
.react-tabs {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 0px;
  padding: 0;
  height: 35px;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

.react-tabs__tab-panel--selected {
  display: block;
  height: calc(100% - 35px);
}

/* ======== Clinical goals table */
.clinicalGoalsTableDiv {
  overflow: auto;
  height: 93%;
}

.clinicalGoalsTableDiv thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

table.clinicalGoalsTable {
  border-collapse: separate;
  width: 100%;
  overflow-x: scroll;
}

.clinicalGoalsRoiPoiDiv {
  display: flex;
}

/* ========== end clinical goals table */

.cgLoadingButtonDiv {
  background-color: black;
  font-size: 14px;
  color: white;
}

.cgExportButtonDiv {
  background-color: black;
  font-size: 13px;
  color: white;
  margin-left: 20px;
}

/* Style for Dose statistic table */
.doseStatisticTableDiv {
  overflow: auto;
  height: 100%;
}

.doseStatisticTableDiv thead tr:nth-child(1) th {
  position: sticky;
  border-collapse: separate;
  top: 0;
  z-index: 1;
}

.doseStatisticTableDiv thead tr:nth-child(2) th {
  position: sticky;
  border-collapse: separate;
  top: 22px;
  z-index: 1;
}

table.doseStatisticTable {
  border-collapse: separate;
  width: 100%;
  overflow-x: scroll;
}

.doseStatisticTable {
  overflow: auto;
}

.doseStatisticRoiNameDiv {
  display: flex;
}

/* =============== NTCP tab ========== */
.ntcpLiPPResultTableDiv .ntcpEsophagusResultTableDiv {
  overflow: auto;
  height: 93%;
}

.ntcpLiPPResultTableDiv thead th .ntcpEsophagusResultTableDiv thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

table.ntcpLiPPResultTableDiv table.ntcpEsophagusResultTableDiv {
  border-collapse: separate;
  width: 100%;
  overflow-x: scroll;
}

.ntcpSetConfigButtonDiv {
  background-color: black;
  font-size: 14px;
  color: white;
}

.ntcpLippv22ResultTable,
.ntcpEsophagusResultTable {
  overflow: auto;
  height: 93%;
}

.ntcpLippv22ResultTable thead th .ntcpEsophagusResultTable thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  height: auto;
}

table.ntcpLippv22ResultTable,
table.ntcpEsophagusResultTable {
  border-collapse: separate;
  width: 100%;
  overflow-x: scroll;
}

.doseSelectionDiv {
  display: grid;
  width: 210px;
  background-color: #4881e2;
  color: white;
  cursor: pointer;
}

.doseSecondSelect,
.doseSecondSelect {
  cursor: pointer;
}
